# ASP.NET Core
bin/
obj/
*.user
*.lock
*.log
.DS_Store
appsettings.json
appsettings.Development.json
appsettings.Staging.json
appsettings.Production.json

# Visual Studio
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.pdb
**/obj/
**/bin/

# Node.js / React.js
node_modules/
npm-debug.log*
yarn-error.log*
.pnp.js

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist/
dist-ssr/
*.local

# IDE-specific
.idea/

# Miscellaneous
.DS_Store

# Exclude extensions.json from .vscode/
!.vscode/extensions.json