# ASP.NET Core
bin/
obj/
*.user
*.lock
*.log
.DS_Store

# Visual Studio
.vs/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.pdb
*/obj/
*/bin/

# Node.js / React.js
node_modules/
npm-debug.log
yarn-error.log
/.pnp/
.pnp.js

# Visual Studio Code
.vscode/
