.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  margin: 0 auto;
}

.item-card {
  padding-bottom: 10px;
  text-align: center;
}

.item-image {
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.item-card:hover .item-image {
  transform: scale(1.1);
}

.item-card:hover .item-name {
  transform: translateY(15px);
  font-weight: bold;
  font-size: 30px;
  color: black;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}