.content-container {
  display: flex;
}

.left-sidebar {
  background-color: #f0f0f0;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 auto;
}

.item-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.item-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.item-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e0e0e0;
  justify-content: center;
}

.item-content {
  padding: 10px;
}

.item-info {
  padding: 5px;
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  font-family:"Trebuchet MS", sans-serif;
}

.item-brand {
  font-size: 16px;
  margin-bottom: 3px;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-price {
  color: #333;
  font-size: 26px;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}
