.App {
  font-family: Arial, sans-serif;
}

.main-content {
  padding: 10px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
}

.sidebar {
  width: 400px;
}

.left-sidebar {
  grid-column: 1 / 2;
  margin-left: 2px;
  margin-top: 2px;
}

.main-content {
  grid-column: 2 / 3;
}

.right-sidebar {
  grid-column: 3 / 4;
  justify-self: end;
  margin-right: 22px;
  margin-top: 2px;
}

.main-content h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content-section-details {
  margin-top: 50px;
  width: 900px;
}
.content-section-details h2 {
  text-align: center;
}

.content-section-hours {
  margin-top: 80px;
  text-align: center;
  font-weight: bold;
}

.content-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.content-section p {
  margin: 5px 0;
}