.navbar {
  background-color: #e4002b;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 125px; 
}

.nav-item {
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  margin: 5px;
}

.nav-link:hover {
  font-size: 1.2em;
  color: black;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.shopping-cart {
  margin-left: auto;
}